@import "reset.css"; /*that's better first to kill all the browser style settings and design by our selves. */

@import "status-bar.css";
/* We should try to keep our style.css as an import file */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,300;1,400;1,600&display=swap");

@import "variables.css";

body {
  font-family: "Open Sans", sans-serif;
}

.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
}

.welcome-header__text {
  width: 50%;
  opacity: 0.7; /*글자 투명하게*/
  margin-bottom: 5px;
}

.welcome-header__text2 {
  width: 80%;
  opacity: 0.7; /*글자 투명하게*/
  /*margin-bottom: 90px; -> 이거 대신 welcome-header에다가 margin-bottom:90px 대신 margin: 90px 0px 로 수정했어. 그게 top  bottom 다 90px란 말이니까 */
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  padding: 15px 0px;
  border: none; /*저 박스 경계선 없애줄거야 */
  font-size: 18px;
  margin-bottom: 20px; /*이거 좀 안이쁘면 25px로 고치기*/
}

/*Log in 박스만 밑에 경계선 없애고싶은데,,,-> not이라는 속성을 사용하자.
not이 뭐냐면 뭔가가 적용되는걸 원하지않을때 쓰는거야*/

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

/*input type이 submit이 아닐때, [] 이 사이에 쓰인 것들은 특성선택자(attribute sellector야 */

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

/* reset.css 마지막줄에 input:focus {outline: none; } 적어줬음 */

/*variables.css 파일 만들어서 거기다가 --yellow 변수 설정해줌 */

#login-form input:focus {
  border-color: var(--yellow);
}

/*이제 모든 input에다가 transition 적용할거야 */

#login-form input[type="submit"] {
  /*[]은 특성선택자*/
  background-color: var(--yellow);
  cursor: pointer;
  /* cursor : not-allowed, cursor : progress 다 가능해 */
  padding: 20px 0px;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  text-decoration: none; /*밑줄 쳐있는거 없애주자 */
  /*그리고 모든 link는 blue 색상이 디폴트로 적용되어있음. default 색상 바꿔보자
  부모로부터 상속받는거야. 이 경우에는 a(anchor)가 색상을 아버지로부터 상속받아 오는거야
  a의 아버지는 login-form이지. default 색은 블랙이야.*/
  color: inherit;
}
