@import "reset.css"; /*that's better first to kill all the browser style settings and design by our selves. */

@import "status-bar.css";
/* We should try to keep our style.css as an import file */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,300;1,400;1,600&display=swap");

@import "variables.css";

body {
  font-family: "Open Sans", sans-serif;
}

.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
}

.welcome-header__text {
  width: 50%;
  opacity: 0.7; /*글자 투명하게*/
  margin-bottom: 5px;
}

.welcome-header__text2 {
  width: 80%;
  opacity: 0.7; /*글자 투명하게*/
  /*margin-bottom: 90px; -> 이거 대신 welcome-header에다가 margin-bottom:90px 대신 margin: 90px 0px 로 수정했어. 그게 top  bottom 다 90px란 말이니까 */
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  padding: 15px 0px;
  border: none; /*저 박스 경계선 없애줄거야 */
  font-size: 18px;
  margin-bottom: 20px; /*이거 좀 안이쁘면 25px로 고치기*/
  transition: border-color 0.3s ease-in-out;
}

#login-form input:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#login-form input:nth-child(2) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  /* Q : 이거 두개를 합쳐서 코드짜는 방법은 없을까?*/
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

/* reset.css 마지막줄에 input:focus {outline: none; } 적어줬음 */

/*variables.css 파일 만들어서 거기다가 --yellow 변수 설정해줌 */

#login-form input:focus {
  border-color: var(--yellow);
}

/*이제 모든 input에다가 transition 적용할거야 */
